* {
    margin: 0;
    box-sizing: border-box;
}
.radius {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 4px solid green;
}


.Heading {
    font-weight: bold;
    border: 1px solid #000;
    font-size: 50px;
}

#firstElement {
    background-color: red;
}

#secondElement {
    background-color: #333;
}

header {
    background-color: green;
}

h1 {
    border: 4px solid green;
    padding: 50px;
    font-weight: bold;
}
h1.additionalBorder{
    box-shadow: 1px 1px 10px black;
}
.shadowBlack{ box-shadow: 1px 1px 10px black;}
q {
background: red;
padding: 10px;
margin: 20px;
border: 5px solid #000;
}
body main pre h6{border: 10px solid green;}
/* .Heading.salah.margin-50{border: 10px solid red;} */


/* home page */

/* about section */

/* #margin-100{margin: 100px;}
.margin-50{margin: 50px;} */

/* services  section */

/* #margin-100{margin: 100px;}
.margin-50{margin: 50px;} */
.font-cur{
    font-family: cursive;
}

section{color: red;font-weight: bold;}
.Heading{color: inherit;}
body{
    background-color: #fff;
}
.backGroundImg{
    background-image: url(../img/boyD.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    background-attachment: fixed;

    height: 400px;
    background: #ffffff url(../img/boyD.png) no-repeat center center;

}
.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}
.ml-5{margin-left: 5px;}
.mr-5{margin-right: 5px;}
.mtb-5{margin: 5px 0;}
.p-20{padding: 20px;}